{namespace hs.tmpl.listings}

/**
* Renders the new listing page
*/
{template .Add}
    <form id="new_listing">
        <input type="button" id="take_image" />
        <textarea id="description"></textarea>
        <input type="text" id="price" />
    </form>
{/template}


