{namespace hs.tmpl.users}

/**
* Renders the login page
*/
{template .Login}
<div id="login">
    <img src="/img/auth_logo.png" />
    <form>
        <input type="email" placeholder="Email" id="email" />
        <input type="submit" value="Start Posting" />
    </form>
</div>
{/template}


