{namespace hs.tmpl.users}

/**
* Renders the login page
*/
{template .Login}
<div id="login">
    <img src="img/auth_logo.png" />
    <form>
        <input type="email" required placeholder="Email" id="email" />
        <input type="submit" value="Start Posting" />
        <a href="#" id="fake" style="display:block;padding:15px;">fake</a>
    </form>

</div>
{/template}


