
$green: #289289;
$white: #F8FAE9;
$black: #2C2C2C;
$grey: #666;
$blue: #2671A8;

$ab_height:50px;

@import "generic";
@import "mixins";


body, html{
    background-color:$black;
    background-image: url(../img/background.jpg);
    background-repeat:repeat;
}

body {
    width:100%;
    margin:0;
    padding:0;
    @include sans();

    -webkit-user-select:none;
    -webkit-text-size-adjust:none;
}

#actionbar{
    position:fixed;
    top:0;left:0;
    z-index:2;

    width:100%;
    height:$ab_height;

    background-color:$black;
    @include gradient($black, $black - #222);

    border-color:$black - #222;
    border-width:1px 0;
    border-style:solid;


    #ab_logo{
        position:absolute;
        height:39px;width:auto;
        top:50%;
        margin:-19px 0 0 10px;

    }
    .back #ab_logo{left:50%;margin-left:-73px;}

    .ab-button{
        color: $white;
        border:1px solid $black;
        background-color:$green;
        margin:11px 10px;

        @include gradient($green - #090909, $green - #222);
        @include box-shadow(0, 1px, 1px, $black + #333);
    }
    .ab-button.right{float:right;}
    .ab-button.left{float:left;}
}

#wrapper{
    position:absolute;
    top:0;left:0;
    width:100%;

    z-index:1;
    margin:$ab_height + 2 0 0;
    padding:0;


    #scroller {
        width:100%;
        margin:0;
        padding:0;
    }
}

#main{
    width:100%;
    font-size:16px;

    #new_listing{
        width:100%;

        li, ul {margin:0;padding:0;list-style:none;}
        .form_item{
            width:93%;
            padding:2%;
            margin:2%;
            background-color:$white;
            display:block;
            font-size:16px;
            @include sans();
            @include rounded();

            input[type=button]{
                float:right;
            }

            #image{
                max-height:100px;
                width:auto;
            }

            label{color:$grey;}
        }
        .form_item:after {@include clearfix();}

    }

    #login{
        text-align:center;
        $width: 252px;

        form{
            @include hor-center($width);
            width:$width;
            text-align:right;

            input[type=email]{width:100%;}
            input[type=submit]{
                @include box-shadow(0, 1px, 2px, #000);
            }
        }

        img {
            width:$width;height:auto;
            margin:0 auto;
        }
    }

}


/** UI **/

.dialog{
    $width:250px;

    @include rounded();
    position:absolute;
    width:$width;
    border:2px solid $green;
    background-color:$white;

    .body{
        padding:10px;
    }

    .buttons{
        border-top:2px solid $black;
        background-color:$green;
        padding:5px 5px 10px;

        .button{
            display:inline;
            margin-right:10px;
            &:last{
                margin-right:0;
            }
        }
    }

    &.msg{
        padding:10px;
        background-color:$black;
        color:$white;
        opacity:.9;
    }
    &.wait{
        @extend .msg;
        @include hor-center($width);
        top:50px;
    }
    &.toast{
        @extend .msg;
        position:absolute;
        text-align:center;
    }
}

.widget{

}














